<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rumaisaabdulhai.duaapp">

    <application>
        <activity
            android:name="com.example.rumaisaabdulhai.duaapp.NavActivity"
            android:label="@string/title_activity_nav"></activity>
    </application>
</manifest>
